@{
    ViewData["Title"] = "Bater Ponto";
}

<div>
    <h1>Bater Ponto</h1>
    <h2>Mantenha seus pontos em dia!</h2>
    <form method="post">
        <button type="submit">Bater Ponto</button>
    </form>
</div>