@{
    ViewData["Title"] = "Bater Ponto";
}

<div>
    <h1>Bater Ponto</h1>
    <h4>Mantenha seus pontos em dia!</h4>
    <form method="post">
        <button type="submit" id="btn-clockin">Bater Ponto</button>
    </form>
</div>

<script src="~/js/Clockin.js"></script>