@{
    ViewData["Title"] = "Início";
    ViewData["StyleSheet"] = "home.css";
}

<section class="home-main">
    <img src="~/images/people_vector.jpg" width="70%" alt="People United" title="People United"/>
    
    <div class="text-center">
        <h1 class="display-4">Bem-Vindo ao Clock In Time!</h1>
        <h4>O seu aplicativo de controle de pontos e pagamentos.</h4>
    </div>


    <section class="home-functionalities">
        <a href="/Home/ClockIn" class="btn button-primary">Bater Ponto</a>
        <a href="/Home/Report" class="btn button-secondary">Ver Holerite</a>
    </section>
</section>
