@{
    ViewData["Title"] = "Relatório";
}

<div>
    <h1>Relatório</h1>
    <h4>Obtenha seus relatórios de pagamento mensais!</h4>
    <form method="post">
        <input type="date" />
        <button type="submit">Gerar Relatório</button>
    </form>
</div>