.register__page {
    width: 100%;
    position: relative;
}

.formulario__resgister {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 70%;
    min-height: 400px;
    padding: 20px;
}

.formulario__resgister h2 {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.formulario__resgister form * {
    margin-inline: auto;
}

.formulario__resgister form input,
.formulario__resgister form button {
    min-width: 200px;
    width: 40%;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .formulario__resgister {
        max-width: 500px;
        width: 80%;
    }
}

@media screen and (max-width: 575px) {
    .formulario__resgister {
        width: 100%;
        box-shadow: none;
    }

        .formulario__resgister form input,
        .formulario__resgister form button {
            min-width: 0;
        }
}
