* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #f5f5f5;
    --gray: #757575;
    --dark-gray: #333;
    --black: #111;
    --blue: #213078;
    --gold: #e8ba25;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    height: 100%;
    flex: 1;
}

.profile {
    width: 30px;
    border-radius: 5px;
    box-sizing: content-box;
    transition: 100ms ease all;
}

.profile:hover {
    background-color: rgba(0,0,0,0.2);
}

button {
    min-width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 200ms ease;
    background: var(--blue);
    color: var(--white);
}
        
button:hover {
    background: var(--gold);
    color: var(--black);
}

footer {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
}

footer .row div:nth-child(2) {
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}

footer h5,
footer li,
footer a {
    color: var(--blue) !important;
}

footer .row div {
    flex: 1;
}

@media screen and (max-width: 575px) {
    footer .container .row {
        flex-direction: column;
    }

    footer .container .row div {
        padding-top: 10px;
    }

    footer .row div:nth-child(2) {
        display: none;
    }

    .small__screen__hidden {
        display: none;
    }
}