@{
    ViewData["Title"] = "Políticas de Privacidade";
}

<div class="container mt-5">
    <h1>Política de Privacidade</h1>

    <p>Sua privacidade é importante para nós. É nossa política respeitar sua privacidade em relação a qualquer informação que possamos coletar de você em nosso site.</p>

    <p>Solicitamos apenas informações pessoais quando realmente precisamos fornecer um serviço a você. Coletamos essas informações de maneira justa e legal, com seu conhecimento e consentimento.</p>

    <p>Não compartilhamos publicamente nenhuma informação de identificação pessoal com terceiros, exceto quando exigido por lei.</p>

    <p>Nosso site pode conter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.</p>

    <p>Ao usar nosso site, você consente com nossa Política de Privacidade e concorda com seus termos.</p>
</div>
