@{
    ViewData["Title"] = "Termos de Serviço";
}

<div class="container mt-5">
    <h1> Termos de Serviço</h1>

    <p>Bem-vindo ao nosso site. Ao acessar e usar este site, você concorda em cumprir e ficar vinculado aos seguintes termos e condições.</p>

    <p>O conteúdo deste site é para sua informação geral e uso apenas. Está sujeito a alterações sem aviso prévio.</p>

    <p>Nós e terceiros não fornecemos nenhuma garantia ou garantia quanto à precisão, pontualidade, desempenho, integridade ou adequação das informações e materiais encontrados ou oferecidos neste site para qualquer finalidade específica.</p>

    <p>O uso de qualquer informação ou materiais neste site é inteiramente por sua conta e risco, pelo qual não seremos responsáveis.É sua responsabilidade garantir que quaisquer produtos, serviços ou informações disponíveis neste site atendam aos seus requisitos específicos.</p>

    <p>Este site contém material que é de nossa propriedade ou licenciado para nós.Isso inclui, mas não se limita a, design, layout, aparência e gráficos.A reprodução é proibida, exceto de acordo com o aviso de direitos autorais, que faz parte destes termos e condições.</p>

    <p>O uso não autorizado deste site pode dar origem a uma reivindicação por danos e/ou constituir uma infração criminal.</p>

    <p>Seu uso deste site e qualquer disputa decorrente desse uso do site está sujeito às leis do Brasil.</p>
</div>
